{% extends 'base.html' %}

{% block content %}

<div class="col-mid-6 offset-md-3">
    <h1>ADD RECORD</h1>
    <br>
    <!-- <form method="POST" action="">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">
            Your Form Has Errors
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}

            {% endfor %}
        </div>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Record</button>
    </form> -->
</div>

{% endblock %}